name: Run hello_commute_tracker

on:
  workflow_dispatch:

jobs:
  run-r-script:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Run hello_commute_tracker.R
        run: Rscript scripts/hello_commute_tracker.R
